<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Autó 
                <% if (typeof car === 'undefined') { %>létrehozás
                <% } else{ %>szerkesztés
                <% } %>
                (<%= car.licensePlate %>)
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <form method="POST">
        <input type="hidden" name="_id" value="<%= (typeof car === 'undefined') ? '' : car._id %>">
        <div class="mb-3">
            <label for="licensePlate" class="form-label">Rendszám</label>
            <input type="text" class="form-control" id="licensePlate" name="licensePlate" value="<%= (typeof car === 'undefined') ? '' : car.licensePlate %>">
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Gyártó</label>
            <input type="text" class="form-control" id="brand"  name="brand" value="<%= (typeof car === 'undefined') ? '' : car.brand %>">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Hossz</label>
            <input type="text" class="form-control" id="length" name="length" value="<%= (typeof car === 'undefined') ? '' : car.length %>">
        </div>
        <div class="mb-3">
            <label for="capacity" class="form-label">Max fő</label>
            <input type="text" class="form-control" id="capacity" name="capacity" value="<%= (typeof car === 'undefined') ? '' : car.capacity %>">
        </div>
        <div class="mb-3">
            <label for="trunkCapacity" class="form-label">Csomagtér</label>
            <input type="text" class="form-control" id="trunkCapacity" name="trunkCapacity" value="<%= (typeof car === 'undefined') ? '' : car.trunkCapacity %>">
        </div>

        <input type="submit" class="btn btn-primary" href="/cars" value="Mentés"/>
        <a class="btn btn-danger" href="/cars">Vissza</a>
    </form>
</div>

<%- include('footer') %>