<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Utas 
                <% if (typeof passenger === 'undefined') { %>létrehozás
                <% } else{ %>szerkesztés
                <% } %>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <form method="POST">
        <input type="hidden" name="id" value="<%= (typeof passenger === 'undefined') ? '' : passenger._id %>">
        <div class="mb-3">
            <label for="licenseplate" class="form-label">Név</label>
            <input type="text" class="form-control" id="licenseplate" value="<%= (typeof passenger === 'undefined') ? '' : passenger.name %>">
        </div>
        <div class="mb-3">
            <label for="maker" class="form-label">Kor</label>
            <input type="text" class="form-control" id="maker" value="<%= (typeof passenger === 'undefined') ? '' : passenger.age %>">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Vezetett órák</label>
            <input type="text" class="form-control" id="length" value="<%= (typeof passenger === 'undefined') ? '' : passenger.hoursdriven %>">
        </div>

        <input type="submit" class="btn btn-primary" href="/passengers/123" value="Mentés"/>
        <a class="btn btn-danger" href="/passengers/123">Vissza</a>
    </form>
</div>
        
<%- include('footer') %>